<!DOCTYPE html>
<html>

<head>
	<title>Cloud Sandbox Editor</title>

	<link rel="stylesheet"
		  href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="header">

	<h1>Cloud Sandbox</h1>

	<p>Online Python Code Editor</p>

</div>

<nav class="navbar">

    <div class="nav-title">
        Cloud Sandbox
    </div>

 <div class="nav-links">
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/editor">Editor</a>
    <a href="/login">Logout</a>
</div>   
</nav>

<div class="container">

	<div class="editor-box">

		<h2>Code Editor</h2>

		<label for="language">Language:</label>

		<select id="language">
			<option value="python">Python</option>
		</select>

		<br><br>

		<textarea
			id="code"
			placeholder="Write your Python code here..."></textarea>

		<br>

		<button class="run-button" onclick="runCode()">
			▶ Run Code
		</button>

		<button class="run-button" onclick="clearEditor()">
			Clear
		</button>

		<button class="run-button" onclick="downloadCode()">
			⬇ Download
		</button>

		<h2>Output</h2>

		<textarea
			id="output"
			readonly
			placeholder="Your output will appear here..."></textarea>

	</div>

</div>

<script>

function runCode() {

	let code = document.getElementById("code").value;

	document.getElementById("output").value = "Running...";

	fetch("/run", {
		method: "POST",

		headers: {
			"Content-Type": "application/json"
		},

		body: JSON.stringify({
			code: code
		})
	})

	.then(response => response.json())

	.then(data => {

		document.getElementById("output").value =
			data.output;

	})

	.catch(error => {

		document.getElementById("output").value =
			"Error: " + error;

	});

}


function clearEditor() {

	document.getElementById("code").value = "";

	document.getElementById("output").value = "";

}


function downloadCode() {

	let code = document.getElementById("code").value;

	let file = new Blob([code], {
		type: "text/plain"
	});

	let link = document.createElement("a");

	link.href = URL.createObjectURL(file);

	link.download = "cloudsandbox_code.py";

	link.click();

	URL.revokeObjectURL(link.href);

}


document.getElementById("code").addEventListener("keydown", function(event) {

	if (event.ctrlKey && event.key === "Enter") {

		event.preventDefault();

		runCode();

	}

});

</script>

</body>

</html>
